<!DOCTYPE html>
<html lang="en">
<head>
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
</head>

<body>

<H1>Visualization</H1>



<form action="{{ url_for('data.visualize') }}">
<select name="student_name">
	{% for student in all_names %}
		{% if student == current_student %}
			<option selected value="{{ student }}">{{ student }}</option>
		{% else %}
			<option value="{{ student }}">{{ student }}</option>
		{% endif %}
	{% endfor %}
</select>

<select name="selected_epa">
	{% for epa in all_epas %}
		{% if epa == current_epa %}
			<option selected value="{{ epa }}">{{ epa }}</option>
		{% else %}
			<option value="{{ epa }}">{{ epa }}</option>
		{% endif %}
	{% endfor %}
</select>
<input type="submit">
</form>


{{ script|safe }}
{{ div|safe }}

</body>


</html>